body {
  padding: 0;
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
}

.login-reg-section a {
  text-decoration: none;
  color: black;
}

.login-reg-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-reg-section h2 {
  margin: 30px;
}

.login-reg-section p {
  margin: 10px;
}

.login-btn {
  width: 250px;
}
.img-section {
  width: 50%;
}
.dustbin-outer-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 40px;
}
.dustbin-section {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.dustbin {
  width: 50%;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dustbin img {
  width: 60%;
}
.dustbin .table {
  margin: 30px;
}

.dustbin-container {
  display: flex;
  align-items: flex-start;
  margin: 50px;
}
.heading-bar {
  width: 100%;
  background-color: #84c3d3;
}
